{% extends "base.html" %}

{% block style %}
{{ super() }}

    #login {
            background-color: #16A085;
    }

    body {background: #CCFFFF;}

    .login-form{
    margin-top:60px;
    border-radius:5px;
    padding-bottom:20px;
    background:white;
    }

    .title {

    background: #007bbf
    padding:10px;
    text-align: center;
    color: #black;
    border-radius: 0px 0px 10px 10px;

    }


{% endblock %}



{% block content %}



<div class="container">

<div class="login-form col-md-4 offset-md-4">

    <h1 class="title" style="color: blue;">Register here</h1>
<br/>
{%  for message in get_flashed_messages() %}
        {{ message }}
{% endfor %} <br/>
<form  method="post" action="" >
<br/>

<p>
    {{ form.email.label }}<br/>
    {{ form.email }}

</p>

<p>{{ form.newuser.label }} <br/>
    {{ form.newuser }}
</p>

    <p>
        {{ form.newpass.label }} <br/>
        {{ form.newpass }}

    </p>

     <p>
        {{ form.newpass2.label }} <br/>
        {{ form.newpass2 }}

    </p>

        {{ form.submit() }}

    <br/><br/>

    <!--<input type="button" value="Sign me up!">
 <input type="submit" value="Login">--->

{{ form.csrf_token }}
</form>

</div>
</div>



{% endblock %}